<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/design-temp">
    <!-- 고유 css -->
    <th:block layout:fragment="css">
    </th:block>
    <!-- 고유 script -->
    <th:block layout:fragment="script">
    <script th:inline="javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        function fncEdit(seq) {
            listForm.action = "/board/" + [[${uuid}]] + "/write";
            listForm.seq.value = seq;
            listForm.submit();
        }

        function fncWrite() {
            listForm.action = "/board/" + [[${uuid}]] + "/write";
            listForm.seq.value = "";
            listForm.submit();
        }

        function fncDelete(seq) {
            if (confirm("해당 게시물을 삭제하시겠습니까?")) {
                listForm.action = "/board/" + [[${uuid}]] + "/delete";
                listForm.seq.value = seq;
            }
        }

        function fncRead(seq) {
            listForm.action = "/board/" + [[${uuid}]] + "/read";
            listForm.seq.value = seq;
            listForm.submit();
        }

        function fncList(pageIndex) {
            listForm.action = "";
            listForm.pageIndex.value = pageIndex;
            listForm.submit();
        }

        function fncPrev(obj) {
            const $parent = $(obj).parent();
            if(!$parent.hasClass("disabled")) {
                listForm.pageIndex.value = parseInt(listForm.pageIndex.value) - 1;
                listForm.action = "";
                listForm.submit();
            }
        }

        function fncNext(obj) {
            const $parent = $(obj).parent();
            if(!$parent.hasClass("disabled")) {
                listForm.pageIndex.value = parseInt(listForm.pageIndex.value) + 1;
                listForm.action = "";
                listForm.submit();
            }
        }

        function fncSearch() {
            const searchKeyword = $("#searchKeyword").val();
            if (searchKeyword.length < 1) {
                alert("검색어를 입력해주세요.");
                return false;
            }
            listForm.action = "";
            listForm.searchKeyword.value = searchKeyword;
            listForm.pageIndex.value = 1;
            listForm.submit();
        }
    </script>
    </th:block>
    <div layout:fragment="content">
        <form id="listForm" name="listForm" method="post" th:action="@{'/'}" style="display: none;">
            <input name="seq" type="hidden" value="0"/>
            <input name="pageIndex" type="hidden" th:value="${searchVO.pageIndex}"/>
            <input type="hidden" name="searchKeyword" th:value="${searchVO.searchKeyword}"/>
            <input type="hidden" name="searchCondition" th:value="${searchVO.searchCondition}"/>
        </form>
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card card-info">
                    <div class="card-header d-flex flex-wrap">
                        <h3 class="card-title mb-2 mb-md-0 mr-auto col-12 col-md-2" style="line-height: 2.7;">
                            게시물 목록
                        </h3>
                        <div class="form-group mb-md-0 col-12 col-md-2">
                            <select name="searchCondition" id="searchCondition" class="custom-select h-100" th:field="${searchVO.searchCondition}">
                                <option value="">전체</option>
                                <option value="title">제목</option>
                                <option value="content">내용</option>
                            </select>
                        </div>
                        <div class="form-group mb-md-0 col-12 col-md-5 col-lg-4">
                            <div class="input-group">
                                <input type="search" id="searchKeyword" name="searchKeyword" class="form-control form-control-lg" placeholder="검색어를 입력해주세요" th:value="${searchVO.searchKeyword}">
                                <div class="input-group-append">
                                    <button type="button" onclick="fncSearch();" class="btn btn-lg btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                        <div class="input-group col-3 ml-auto">-->
<!--                            <input class="form-control" type="search" name="searchKeyword" id="searchKeyword" placeholder="Search" aria-label="Search">-->
<!--                            <div class="input-group-append">-->
<!--                                <button class="btn btn-sidebar bg-secondary" onclick="fncSearch();">-->
<!--                                    <i class="fas fa-fw fa-times"></i>-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </div>-->
                    <!-- ./card-header -->
                    <div class="card-body">
                        <table class="table table-hover">
                            <colgroup>
                                <col class="col-1"/>
                                <col class="col-7"/>
                                <col class="col-2"/>
                                <col class="col-2"/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th class="text-center">번호</th>
                                <th class="text-center">제목</th>
                                <th class="text-center">작성일</th>
                                <th class="text-center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:if="${not #lists.isEmpty(articleList)}" th:each="article, iter : ${articleList}">
                                <tr data-widget="expandable-table" aria-expanded="false">
                                    <td class="text-center align-middle" th:text="${iter.index + 1}"></td>
                                    <td class="align-middle" th:text="${article.title}"></td>
                                    <td class="text-center align-middle" th:text="${@formatUtil.formatDate(article.regDate, 'yyyy-MM-dd')}"></td>
                                    <td class="text-center">
                                        <button type="button" th:onclick="fncEdit([[${article.seq}]]);" class="btn btn-primary">수정</button>
                                        <button type="button" th:onclick="fncDelete([[${article.seq}]]);" class="btn btn-danger">삭제</button>
                                    </td>
                                </tr>
                                <tr class="expandable-body d-none" th:onclick="fncRead([[${article.seq}]]);" th:if="${not #strings.isEmpty(article.summary)}" data-toggle="tooltip" data-placement="bottom" title="상세보기" role="button">
                                    <td colspan="4">
                                        <p class="font-italic" style="display: none;" th:text="${article.summary}"></p>
                                    </td>
                                </tr>
                            </th:block>
                            <th:tr th:unless="${not #lists.isEmpty(articleList)}">
                                <td class="text-center" colspan="4">
                                    등록된 게시글이 없습니다
                                </td>
                            </th:tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->

                    </div>
                    <div class="card-footer position-relative">
                        <ul class="pagination transl translate-middle-xy">
                            <li class="paginate_button page-item previous" th:classappend="${pagination.isStart} ? 'disabled'">
                                <a href="#" class="page-link" onclick="fncPrev(this);">이전</a>
                            </li>
                            <th:block th:each="num, numStatus : ${#numbers.sequence(pagination.getStartListIndex(), pagination.getEndListIndex())}">
                                <li class="paginate_button page-item" th:classappend="${num == searchVO.pageIndex} ? 'active'">
                                    <a th:if="${num == searchVO.pageIndex}" href="#" onclick="return false;" class="page-link" th:text="${num}"></a>
                                    <a th:unless="${num == searchVO.pageIndex}" href="#" th:onclick="fncList([[${num}]]);" class="page-link" th:text="${num}"></a>
                                </li>
                            </th:block>
                            <li class="paginate_button page-item next" th:classappend="${pagination.isEnd} ? 'disabled'">
                                <a href="#" class="page-link" onclick="fncNext(this);">다음</a>
                            </li>
                        </ul>
                        <button type="button" onclick="fncWrite();" class="btn btn-primary float-right">등록</button>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</html>