<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/design-temp">
    <!-- 고유 css -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/dist/css/jquery.gridstrap.min.css"> 
        <style>
            .font-size-20 {
                font-size: 20px;
            }
            .font-size-25 {
                font-size: 28px;
            }
            .font-size-30 {
                font-size: 30px;
            }
            .align-middle{
                line-height: inherit;
            } 
            .board-width-3 {
                border-width: 3px !important;
            }           
            .fas.fa-plus-square, .fas.fa-minus-square {
                cursor: pointer;
            }

            .menu-tab { min-width: 100%; }
            /* Small devices (tablets, 768px and up) */
            @media (min-width: 768px) {
                .menu-tab {
                    min-width: 100%;
                }
            }

            /* Medium devices (desktops,  and up) */
            @media (min-width: 992px) {
                .menu-tab {
                    min-width: 500px;
                }
            }

            /* Large devices (large desktops,  and up) */
            @media (min-width: 1200px) {
                .menu-tab {
                    min-width: 500px;
                }
            }
        </style>
    </th:block>
    <!-- 고유 script -->
    <th:block layout:fragment="script">
        <!-- <script src="/dist/js/jquery.gridstrap.min.js"></script> -->
        <script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
        <script th:inline="javascript">
            var gripTab = null;
            const menuArray = [];

            $(function(){
                // gripTab = $('.menu-group').gridstrap({
                //     gridCellSelector: ">div"
                //     /* default options */
                // });
                $(".menu-group").sortable().disableSelection();
                // $(".menu-group");


                $(document).on("click", ".menu-button", function(){
                    var $this = $(this);
                    var $parentRow = $(this).closest(".menu-tab");
                    var $children = $parentRow.not($this).find(".menu-button");
                    let tabDepth = $parentRow.data("tab");
                    if (tabDepth == 1) {
                        //1탭일 경우, 2탭을 초기화 및 다시 불러옴.
                        // unselectTarget($(".menu-tab.tab-2").find(".menu-button"));
                        var uuid = $this.data("uuid");
                        if (uuid != null) {
                            
                        } else {
                            deleteTargetChildrenList($("div[data-tab=" + (tabDepth + 1) + "]"));
                        }              
                    }
                    selectTarget($this, $children);
                    if (tabDepth < [[${session.maxDepth}]]) {
                        getMenuChildrenList($parentRow, $(this).closest("li").data("seq"));
                    }

                });

                //plus 버튼 클릭시(메뉴추가)
                $(document).on("click", ".fas.fa-plus-square", function(){
                    //모달창->메뉴정보 입력->등록
                    $("#modal-lg").find(".modal-footer").children(".btn-primary").text("등록");
                    $("#modal-lg").find("form")[0].action = "/menu/insert";
                    $("#modal-lg").modal("show");
                });

                //minus 버튼 클릭시(삭제기능)
                $(document).on("click", ".fas.fa-minus-square", function(){
                    $("#modal-lg").find(".modal-footer").children(".btn-primary").text("수정");
                    writeForm.action = "/menu/delete";
                    $(this).closest("p").siblings().trigger("click");
                    if (confirm("정말 ["+writeForm.title.value+"]메뉴를 삭제하시겠습니까?")) {
                        writeForm.submit();
                    } else {
                        writeForm.action = "/menu/write";
                    }
                });

                //pen 버튼 클릭시(메뉴수정)
                $(document).on("click", ".fas.fa-pen-square", function(){
                    $("#modal-lg").find(".modal-footer").children(".btn-primary").text("수정");
                    writeForm.action = "/menu/update";
                    $(this).closest("p").siblings().trigger("click");
                    getMenuData($("#modal-lg"), $(this).closest("li").data("seq"));
                });

            });

            function resetChildrenList (uuid) {
                var result = null;
                var storage = window.sessionStorage;
                var menuList = storage.getItem("menuList");
                $.each(menuList, function(index, item){
                    var tUUID = item.uuid;
                    if (uuid == tUUID) {
                        result = item;
                        return false;
                    }
                });
                deleteTargetChildrenList($(".menu-tab.tab-2"));
                result.childrenList;
            }

            function addMenuBar($target, menuTitle, seq) {
                let html = '<li class="row m-0 p-0 ui-sortable-handle" data-seq="'+seq+'">';
                html += '<p class="mb-0 col-9 rounded border border-white bg-secondary text-white p-2 menu-button">'+menuTitle+'</p>';
                html += '<p class="mb-0 col-3">';
                html += '<i class="fas fa-minus-square text-danger font-size-25 align-middle"></i>';
                html += '</p></li>';
                $(this).closest(".menu-tab").find(".menu-group").append($(html));
                $target.append($(html));
            }

            function selectTarget($target, $siblings) {
                unselectTarget($siblings);
                $target.removeClass("bg-secondary");
                $target.addClass("bg-primary");
            }

            function unselectTarget($target) {
                $target.removeClass("bg-primary");
                $target.addClass("bg-secondary");
            }

            function deleteTargetChildrenList($target) {
                $target.find("li").remove();
            }

            //모달 셋팅기능
            function setMenuModal($modal, title, order, public, uuid, parentSeq) {
                //uuid 및 다른데이터는 업데이트시에만 사용됨
                //세션스토리지에서 메뉴값들을 관리
                const writeForm = $modal.find("form")[0];
                writeForm.title.value = title;
                writeForm.menuOrder.value = order;
                writeForm.publicF.value = public;
                writeForm.uuid.value = uuid;
                writeForm.parentSeq.value = parentSeq;
            }

            function getMenuData($target, seq) {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/menu/getMenuInfo",
                    data: {seq : seq},
                }).done(function(menuVO) {
                    const menuInfo = menuVO.menu;
                    setMenuModal($target, menuInfo.title, menuInfo.menuOrder, menuInfo.publicF, menuInfo.uuid, menuInfo.parentSeq)
                    $("#modal-lg").modal("show");
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    alert("통신실패!");
                });
            }

            function getMenuChildrenList($target, seq) {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/menu/getChildrenList",
                    data: {seq : seq},
                }).done(function(childrenList) {
                    let tabNum = $target.data("tab") + 1;
                    const $parent = $("div[data-tab="+tabNum+"]").find(".menu-group");
                    $.each(childrenList, function(index, item){
                        addMenuBar($parent, item.menu.title, item.menu.seq);
                    });
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    alert("통신실패!");
                });
            }

        </script>
    </th:block>
    <div layout:fragment="content">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">메뉴 관리</h3>
            </div>
            <div class="row justify-content-center pt-2 px-3">
                <div class="menu-tab justify-content-center mb-3" data-tab="1" alt="가장 테두리">
                    <p class="text-center mb-3">1 Depth &nbsp;&nbsp;&nbsp;
                        <i class="fas fa-plus-square text-info font-size-25 align-middle mr-1"></i>
                    </p>
                    <ul class="menu-group col-md-9 col-12 rounded text-center border mx-auto border-dark board-width-3 p-3">
                        <th:block th:each="menuVO : ${session.menuList}" th:with="menu=${menuVO.menu}">
                        <li th:if="${menu.menuType != T(com.hhs.codeboard.enumeration.MenuTypeEnum).STATIC_MENU.menuType}" th:data-seq="${menu.seq}" class="row m-0 p-0">
                            <p th:text="${menu.title}" class="mb-0 col-9 rounded border border-white bg-secondary text-white p-2 menu-button"></p>
                            <p class="mb-0 col-3">
                                <i th:if="${not #strings.isEmpty(menu.uuid)}" class="fas fa-pen-square text-info font-size-25 align-middle"></i>
                                <i th:if="${menu.menuType != T(com.hhs.codeboard.enumeration.MenuTypeEnum).MENU.menuType}" class="fas fa-minus-square text-danger font-size-25 align-middle"></i>
                            </p>
                        </li>
                        </th:block>
                    </ul>
                    <!-- 한셀마다 메뉴가 주르륵 들어가있어야함. -->
                </div>

                <div class="menu-tab justify-content-center mb-3" data-tab="2">
                    <p class="text-center mb-3">2 Depth &nbsp;&nbsp;&nbsp;
                        <i class="fas fa-plus-square text-info font-size-25 align-middle mr-1"></i>
                    </p>
                    <ul class="menu-group col-md-9 col-12 rounded text-center mx-auto border border-dark board-width-3 p-3">
                    </ul>
                </div>
            </div>

        </div>
        <div class="modal fade" id="modal-lg">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <h4 class="modal-title">새 메뉴 입력</h4>
                        <button type="button" class="close" style="font-size: 2rem;" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body px-md-4">
                        <!--/*
                         메뉴명, 메뉴 순서, 메뉴 사용여부 입력필요
                         부모 seq값은 첫 생성시엔 readOnly로 설정.
                         수정시엔 어디든 옮기기 가능.
                         */-->
                        <form id="writeForm" name="writeForm" method="post" class="form-horizontal" th:action="'/menu/insert'">
                            <input type="hidden" name="uuid">
                            <div class="form-group row">
                                <label for="inputParentSeq" class="col-sm-2 col-form-label">상위메뉴</label>
                                <div class="col-sm-10 row ml-0">
                                    <select id="inputParentSeq" name="parentSeq" class="custom-select col-12 col-md-6">
                                        <option value="0">[최상위]</option>
                                        <th:block th:each="parentMenu : ${parentList}">
                                            <option th:text="${parentMenu.menu.title}" th:value="${parentMenu.menu.seq}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputTitle" class="col-sm-2 col-form-label">메뉴명</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputTitle" name="title" placeholder="제목을 입력해주세요">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputTitle" class="col-sm-2 col-form-label">메뉴순서</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control w-25" id="inputOrder" name="menuOrder" value="0">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="publicF_Y" class="col-sm-2 col-form-label">메뉴 공개여부</label>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="publicF" id="publicF_Y" value="Y">
                                        <label class="form-check-label" for="publicF_Y">
                                            공개
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="publicF" id="publicF_N" value="N" checked>
                                        <label class="form-check-label" for="publicF_N">
                                            비공개
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-primary" onclick="writeForm.submit();">등록</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
</html>