<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/design-temp">
    <!-- 고유 css -->
    <th:block layout:fragment="css">
    </th:block>
    <!-- 고유 script -->
    <th:block layout:fragment="script">
    </th:block>
    <div layout:fragment="content">
        <section class="content">
            <div class="container-fluid">
                <!-- /.row -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Expandable Table</h3>
                            </div>
                            <!-- ./card-header -->
                            <div class="card-body">
                                <table class="table table-bordered table-hover">
                                    <colgroup>
                                        <col class="col-1"/>
                                        <col class="col-9"/>
                                        <col class="col-2"/>
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th class="text-center">번호</th>
                                        <th class="text-center">제목</th>
                                        <th class="text-center">작성일</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="article : ${articleList}">
                                        <tr data-widget="expandable-table" aria-expanded="false">
                                            <td class="text-center">#</td>
                                            <td th:text="${article.getTitle()}"></td>
                                            <td class="text-center" th:text="${@formatUtil.formatDate(article.getRegDate(), 'yyyy-MM-dd')}"></td>
                                        </tr>
                                        <tr class="expandable-body d-none">
                                            <td colspan="5">
                                                <p style="display: none;" th:text="${article.getContent()}"></p>
                                            </td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
    </div>
    </div>
</html>