<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layouts/no-design-temp">
  <!-- 고유 css -->
  <th:block layout:fragment="css">
  </th:block>
  <!-- 고유 script -->
  <th:block layout:fragment="script">
  <script type="text/javascript">
    $(function() {
      $("#remember").click(function(){
        if ($(this).is(":checked")) {
          alert("로그인 유지 기능은 개인컴퓨터에서만 사용해주시기 바랍니다.");
        }
      });
    });

  </script>
  </th:block>

  <div layout:fragment="content">
  <div class="login-page">
    <div class="login-box ">
      <!-- /.login-logo -->
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a href="#" onclick="return false;" class="h1"><b>Code</b>board</a>
        </div>
        <div class="card-body">
          <p class="login-box-msg">로그인정보를 입력해주세요</p>

          <form th:action="" method="post">
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Email">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Password">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-8">
                <div class="icheck-primary">
                  <input type="checkbox" id="remember">
                  <label for="remember">
                    로그인 유지하기
                  </label>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">로그인</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
          <!--
          <div class="social-auth-links text-center mt-2 mb-3">
            <a href="#" class="btn btn-block btn-primary">
              <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
            </a>
            <a href="#" class="btn btn-block btn-danger">
              <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
            </a>
          </div>
          -->
          <!-- /.social-auth-links -->
          
          <p class="col-12 mb-3 px-0">
            <a href="forgot-password.html" class="btn btn-block btn-secondary">비밀번호 찾기</a>
          </p>
          <p class="col-12 px-0">
            <a href="/register" class="btn btn-block btn-primary">가입하기</a>
          </p>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.login-box -->
  </div>
  </div>
</html>